<section id="search-container" class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <form class="form-inline" (ngSubmit)="submitSearch()" #fourSquareForm="ngForm">
            <div class="form-group">
                <select class="form-control input-lg" [(ngModel)]="category" name="category" required>
                    <option value="" selected>I'm looking for...</option>
                    <option value="4d4b7104d754a06370d81259" selected>Arts & Entertainment</option>
                    <option value="4d4b7105d754a06373d81259">Events</option>
                    <option value="4d4b7105d754a06374d81259">Food</option>
                    <option value="4d4b7105d754a06376d81259">Nightlife Spot</option>
                    <option value="4d4b7105d754a06377d81259">Outdoors & Recreation</option>
                    <option value="4d4b7105d754a06379d81259">Travel & Transport</option>
                </select>
                <label for="location">In</label>
                <input type="text" class="form-control input-lg" name="location" id="location" [(ngModel)]="location" placeholder="Enter city" required>
                <button type="submit" class="col-xs-12 col-md-4 btn btn-default btn-primary btn-lg" [disabled]="!fourSquareForm.form.valid">Search</button>
            </div>
        </form>
    </div>
</section>
<section id="results-container" class="row col-xs-12 col-md-8 col-md-offset-2" *ngIf="results || noResults">
    <div class="results-title"><h4>Suggestions for <span class="location-name">{{ locationForDisplay }}</span></h4></div>
    <div class="results-body">
        <div class="results-success">  
            <dl id="venueList" *ngFor="let venue of resultsForDisplay">
                <dt>{{ venue.name }}</dt>
                <dd>
                    {{ venue.location.address }} {{ venue.location.city }}
                    <div *ngFor="let category of venue.categories">
                        <span class="category-name">{{ category.name }}</span>
                    </div>
                </dd>
            </dl>
            <button class="btn btn-primary" *ngIf="showMoreButton" (click)="showMoreResults()">Show More</button>
        </div>
        <div class="results-error alert alert-danger" *ngIf="noResults">
            <p>Sorry, no venues could be found for <span class="location-name">{{ locationForDisplay }}</span></p>
        </div>
    </div>
</section>